/**
    css for elements: TextField, Button,...
*/
Button {
    -fx-border-radius: 2%;
    -fx-cursor: HAND;
    -fx-font-weight: bold;
    /* using the following two lines, because margin does not exist in javafx */
    -fx-border-insets: 0px 5px 0px 5px;
    -fx-background-insets: 0px 5px 0px 5px;
}

/**
    labels
*/
.label-white {
    -fx-text-fill: white;
    -fx-alignment: center;
}
.label-white-bold {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
.label-dark {
    -fx-text-fill: black;
    -fx-alignment: center;
}
.label-dark-bold {
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
.label-title-dark {
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}
.label-error {
    -fx-text-fill: red;
    -fx-allignment: center;
    -fx-font-weight: bold;
}

/**
    content
*/
.navigation {
    -fx-background-color: #0a1045;
    -fx-font-weight: bold;
}
.contentOfPage {
    -fx-background-color: #0a1045;
}
.input-cell {
    -fx-background-color: #f4f4f4;
}

/*
    buttons
*/
.button_danger {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
}
.button_danger:hover {
    -fx-background-color: darkred;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button_danger:pressed {
    -fx-background-color: red;
}
.button_cancel {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
}
.button_cancel:hover {
    -fx-background-color: #a26a01;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button_cancel:pressed {
    -fx-background-color: orange;
}
.button_create {
    -fx-background-color: #0ed70e;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
}
.button_create:hover {
    -fx-background-color: #005e00;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button_create:pressed {
    -fx-background-color: #0ed70e;
}
.button_save_edit {
    -fx-background-color: #0a1045;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
}
.button_save_edit:hover {
    -fx-background-color: #04071c;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button_save_edit:pressed {
    -fx-background-color: #0a1045;
}
.button_search {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
}
.button_search:hover {
    -fx-background-color: #525252;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button_search:pressed {
    -fx-background-color: grey;
}
.button-navigation {
    -fx-background-color: none;
    -fx-border-radius: 10%;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
.button-icon {
    -fx-cursor: HAND;
    -fx-background-color: none;
}
.button-icon:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button-icon:pressed {
    -fx-rotate: -45;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}